
/* colors: rgb(4, 37, 58) darkblue -- rgb(225,221,191) tan, rgb(76,131,122) green */

* {
  box-sizing: border-box;
}

 .main-body-class {
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  background-color: rgb(225,221,191);
  margin: 2rem;
  align-content: space-between;
  }

.footer {
  width: 100%;
  padding:3rem;
  background-color: rgb(4, 37, 58);
  color: rgb(225,221,191);
  margin: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

aside {
  float: right;
  width: 30%;
  padding-right: 2rem;
  padding-bottom: 4rem;
  align-items: center;
  }

h1 {
  width: 100%;
  padding:3rem;
  background-color: rgb(76,131,122);
  color: rgb(4, 37, 58);
  margin: 1rem;
  font-size: 9rem;
  font-weight: lighter;
  text-shadow: 4px 4px 0px #eee, 6px 6px 0px #707070;
}

h2 {
    text-align: center;
    padding:5px;
    background-color: rgb(76,131,122);
    color: white;
  }

h3 {
    text-align: center;
    padding:5px;
    background-color: rgb(76,131,122);
    color: white;
  }

h4 {
    text-align: center;
    padding:5px;
    background-color: rgb(76,131,122);
    color: white;
  }

body {
     color: rgb(4, 37, 58);
  }

img {
    border-style: dashed;
    border-color: rgb(4, 37, 58);
    border-width: 3px;
    width:25%;
  }

  
