
/* colors: rgb(4, 37, 58) darkblue -- rgb(225,221,191) tan, rgb(76,131,122) green */

* {
  box-sizing: border-box;
  flex-direction: column;
  display:flex;
}

head {
  display: none;
}

body {
  color: rgb(4, 37, 58);
  }

aside {
  width: 100%;
}

a {
  color: rgb(255,255,255);
  margin: 2rem;
  padding-bottom: 2rem;
}

.article-class {
    color: rgb(255,255,255);
    background-color: rgb(76,131,122);
    padding: 1rem;
    margin: 1rem;
  }

  .hlp-site-class {
      width: 25%;
      padding-right: 1rem;
      padding-bottom: 1rem;
      background-color: rgb(76,131,122);
      margin: 1rem;
      padding: 1rem;
    }

.logo-class{
  width: 25%;
}

 .main-body-class {
  font-size: 1rem;
  padding: 1rem;
  background-color: rgb(225,221,191);
  margin: 1rem;
  align-content: space-between;
  }

.footer-class {
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  background-color: rgb(4, 37, 58);
  color: rgb(225,221,191);
  margin: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

p.paragraph-class {
  color: rgb(255,255,225);
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-shadow: none;
}

.top-section-class {
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  align-content: flex-start;;
  width: 100%;
  padding: 1rem;
  padding-left: 5rem;
  background-color: rgb(76,131,122);
  color: rgb(4, 37, 58);
  font-size: 9rem;
  font-weight: lighter;
  text-shadow: 4px 4px 0px #eee, 6px 6px 0px #707070;
}

h1{
  font-size: 9rem;
  font-weight: lighter;
  text-shadow: 4px 4px 0px #eee, 6px 6px 0px #707070;
  }

  nav.top-nav-bar-class{
  color: rgb(66, 76, 87);
  align-content: flex-start;
  background-color: rgb(211,211,211);
  width:100%;
  padding: .25rem;
  margin: 1rem;
  font-weight: bold;
  word-spacing: .25rem;
  }

h2 {
    width: 30%;
    padding:2px;
    background-color: rgb(76,131,122);
    color: white;
    font-size: 2rem;
  }

h3 {
    background-color: rgb(76,131,122);
    color: rgb(255,255,255);
  }

img {
    border-style: dashed;
    border-color: rgb(4, 37, 58);
    border-width: 3px;
    width:100%;
  }
