
h1 {
  width: 100%;
  padding:5px;
  background-color: #25619C;
  color: white;
  font-family: "Helvetica", sans-serif;
}

h2 {
    width: 100%;
    text-align: center;
    padding:5px;
    background-color: #4B6A8A;
    color: white;
    font-family: "Helvetica", sans-serif;
  }

h3 {
    width: 100%;
    text-align: center;
    padding:5px;
    background-color: #152E47;
    color: white;
    font-family: "Helvetica", sans-serif;
  }

h4 {
    width: 100%;
    text-align: center;
    padding:5px;
    background-color: #152433;
    color: white;
    font-family: "Helvetica", sans-serif;
  }

li.list-class {
  width: 100%;
  padding:20px;
  background-color: #152433;
  color: white;
  font-family: "Helvetica", sans-serif;
}

nav.nav-class {
  width: 100%;
  padding:20px;
  background-color: #80266C8A;
  font-family: "Helvetica", sans-serif;
}

body{
     color: black;
  }
#size {
    width: 75%;
  }


  a[href="file:///C:/Users/jmorgan/Desktop/first-code/index.html"] {
    background-color: #80266C8A;
    padding: 1rem;
  }
  a[href="file:///C:/Users/jmorgan/Desktop/semantic-elements/index.html"] {
    background-color: #80266C8A;
    padding: 1rem;
  }


  img {
    border-style: dashed;
    border-color: #948CDB;
    border-width: 3px;
    width:25%;
  }

  p{
    width: 100%;
    padding:5px;
    background-color: #D0E3F5;
    font-family: "Helvetica", sans-serif;

  }
